In [1]:
# Q1

In [2]:
string = "this is a string"

In [3]:
list = [1,2,3,4,True,4.5,"shriram"]

In [4]:
float= 4.5

In [5]:
tuple=( 1,2,3,4 )

In [6]:
type(tuple)

tuple

In [7]:
#Q2

In [9]:
var1 = ' '

In [10]:
type(var1)

str

In [ ]:
#var2 = '[ DS , ML , Python]'

In [12]:
var2 = '[ DS , ML , Python]'

In [14]:
type(var2)

str

In [15]:
#var2 is a string variable that contains a list of strings.

In [16]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [17]:
type(var3)

list

In [18]:
#var3 is a list variable that contains three strings.

In [19]:
var4 = 1.

In [20]:
type(var4)

float

In [21]:
#var4 is an integer variable that contains the number 1.

In [22]:
#Q3

In [23]:
#/ is the division operator. It divides the left operand by the right operand and returns the result as a floating-point number. For example, the expression 10 / 2 will evaluate to 5.0.

In [24]:
a= 10/2

In [25]:
a

5.0

In [26]:
#% is the modulus operator. It returns the remainder of the division of the left operand by the right operand. For example, the expression 10 % 2 will evaluate to 0.

In [27]:
a=10%2

In [28]:
a

0

In [29]:
#// is the floor division operator. It divides the left operand by the right operand and returns the result as an integer, dropping any decimal places. For example, the expression 10 // 2 will evaluate to 5.

In [30]:
a=10//3

In [31]:
a

3

In [32]:
#** is the exponentiation operator. It raises the left operand to the power of the right operand. For example, the expression 2 ** 3 will evaluate to 8

In [33]:
2**3

8

In [ ]:
#Q4

In [34]:
list_1=[1,2,3,4,True,4.5,"krisna",(9,9),{"ram","krisna","hari"},4j]

In [36]:
len(list_1)

10

In [38]:
for element in list_1:
    print(f"Element: {element}, Data type: {type(element)}")

Element: 1, Data type: <class 'int'>
Element: 2, Data type: <class 'int'>
Element: 3, Data type: <class 'int'>
Element: 4, Data type: <class 'int'>
Element: True, Data type: <class 'bool'>
Element: 4.5, Data type: <class 'float'>
Element: krisna, Data type: <class 'str'>
Element: (9, 9), Data type: <class 'tuple'>
Element: {'ram', 'hari', 'krisna'}, Data type: <class 'set'>
Element: 4j, Data type: <class 'complex'>

In [39]:
#Q5

In [48]:
def count_divisions(A, B):
    count = 0

    # Check if B is not zero, otherwise, division by zero is not allowed
    if B != 0:
        while A % B == 0:
            A = A // B
            count += 1

    return count

# Input values for A and B
A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))

result = count_divisions(A, B)

if result > 0:
    print(f"{A} is purely divisible by {B}. It can be divided {result} times.")
else:
    print(f"{A} is not purely divisible by {B}.")

Enter the value of A:  4
Enter the value of B:  5

4 is not purely divisible by 5.

In [ ]:
#Q6

In [49]:
# Create a list containing 25 integer type data
data_list = [i for i in range(1, 26)]  # This will create a list from 1 to 25

# Using for loop and if-else condition to check divisibility by 3
for num in data_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

In [50]:
#Q7

In [52]:
#Immutable Data Types:
#Immutable data types are those whose values cannot be changed after they are created. Any operation that appears to modify an immutable object actually creates a new object with the updated value. Immutable objects are considered safe because their values cannot be accidentally changed.

In [53]:
#Examples of immutable data types in Python:

In [54]:
s = "Hello"
t = s
s = s + " World"
print(s) 
print(t)

Hello World
Hello

In [ ]:
#Mutable Data Types:
#